* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
    outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.u-disabled, .gallery__item--disabled {
  opacity: .3;
  pointer-events: none; }

.u-material-icons, .menu-trigger:after, .slider .slick-arrow {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.u-button {
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease; }
  .u-button:hover {
    color: white;
    transition: all 0.3s ease; }

.u-circle, .about-section__picture {
  border-radius: 50%;
  overflow: hidden; }

.disabled {
  pointer-events: none;
  opacity: .4; }

html,
body,
.wrapper {
  height: 100%; }

body {
  margin: 0;
  padding: 0; }

.wrapper {
  display: flex; }

@media (min-width: 64.063em) and (max-width: 90em) {
  .header {
    padding: 35px; } }

.main-content {
  flex: 1;
  overflow-y: scroll; }

body {
  font-family: "DIN Next W02", sans-serif;
  font-size: 16px;
  font-weight: 200; }

p {
  line-height: 1.5;
  margin-bottom: 10px; }

a {
  text-decoration: none; }

.h1, .h2, .h3, .h4 {
  font-weight: 100;
  color: rgba(0, 0, 0, 0.7);
  margin: 0; }

.h1 {
  font-size: 200%;
  line-height: 1.2; }

.h2 {
  font-size: 160%; }

.h3 {
  font-size: 130%; }

.h4 {
  font-size: 100%; }

.centered {
  text-align: center; }

.navigation__item {
  display: block;
  text-align: center;
  margin-bottom: 6px; }

.brand {
  display: block;
  text-align: center; }

.brand__symbol {
  opacity: .5;
  max-width: 60%; }
  @media (max-width: 40em) {
    .brand__symbol {
      padding: 20px; } }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .brand__symbol {
      max-width: 100%; } }

.brand__name {
  font-size: 24px;
  font-weight: 100;
  color: #505a28;
  font-weight: 100;
  text-align: center; }
  .brand__name > em {
    font-weight: 200;
    font-style: italic;
    color: rgba(0, 0, 0, 0.6); }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .brand__name {
      text-align: left;
      font-size: 40px;
      padding-left: 30px;
      padding-top: 5px; } }

.brand--mobile {
  max-width: 52%; }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .brand--mobile {
      display: none; } }

@media (min-width: 64.063em) and (max-width: 90em) {
  .menu-trigger {
    display: none; } }

.button {
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  font-family: "DIN Next W02", sans-serif;
  background-color: transparent;
  cursor: pointer;
  transition: all .4s ease; }

.button:hover {
  background-color: rgba(0, 0, 0, 0.03);
  color: #505a28;
  border-color: rgba(0, 0, 0, 0.1);
  transition: all .4s ease; }

.button--naked {
  border-color: transparent; }

.sidebar {
  padding: 35px; }

@media (max-width: 40em) {
  .sidebar {
    position: fixed;
    left: -1000%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.98);
    transition: all .4s ease; } }

@media (min-width: 64.063em) and (max-width: 90em) {
  .sidebar {
    position: static;
    display: block;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.03); } }

.sidebar__item {
  margin: 50px 0; }

.sidebar__about h2 {
  font-weight: 400;
  color: #505a28;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase; }

.sidebar__about p {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px; }

.sidebar.js-active {
  left: 0;
  z-index: 1;
  transition: all .4s ease; }

.menu-trigger {
  cursor: pointer;
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  color: rgba(0, 0, 0, 0.6); }
  .menu-trigger:after {
    content: 'menu'; }

.menu-trigger.js-active:after {
  content: 'close'; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 20px; }

.gallery__item {
  flex: 1;
  flex-basis: 100%;
  text-align: center;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease; }
  .gallery__item > img {
    transition: all .4s ease; }
    @media (max-width: 40em) {
      .gallery__item > img {
        width: 80%; } }
    @media (min-width: 64.063em) and (max-width: 90em) {
      .gallery__item > img {
        width: 90%; } }
  @media (max-width: 40em) {
    .gallery__item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .gallery__item {
      flex-basis: 30%;
      padding: 70px 40px;
      padding-top: 7%;
      padding-bottom: 7%;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: rgba(0, 0, 0, 0.1);
      border-right-color: rgba(0, 0, 0, 0.1); }
      .gallery__item:nth-child(4), .gallery__item:nth-child(5), .gallery__item:nth-child(6) {
        border-bottom-color: transparent;
        margin-top: -1px; }
      .gallery__item:nth-child(3), .gallery__item:nth-child(6) {
        border-right-color: transparent; } }
  .gallery__item img {
    max-width: 100%; }

@media (min-width: 64.063em) and (max-width: 90em) {
  .gallery__item:hover {
    transition: all .4s ease;
    border: 1px solid #505a28; }
    .gallery__item:hover > img {
      transform: scale(1.3);
      transition: all .4s ease; } }

@media (max-width: 40em) {
  .gallery__govlab img {
    width: 60%; } }

@media (min-width: 64.063em) and (max-width: 90em) {
  .gallery__govlab img {
    width: 70%; } }

@media (max-width: 40em) {
  .gallery__open-contracting img {
    width: 90%; } }

@media (min-width: 64.063em) and (max-width: 90em) {
  .gallery__open-contracting img {
    width: 100%; } }

.gallery__idrc img {
  width: 50%; }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .gallery__idrc img {
      width: 60%; } }

.gallery__opencorporates img {
  width: 75%; }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .gallery__opencorporates img {
      width: 80%; } }

.past-projects {
  margin-top: 10px;
  text-align: center;
  padding: 30px 0; }

.client-page h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.3rem; }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .client-page h2 {
      font-size: 2rem; } }

.client-project {
  text-align: center;
  margin: 100px 0; }
  .client-project p {
    margin: 15px auto 15px;
    max-width: 700px; }
    @media (max-width: 40em) {
      .client-project p {
        margin-left: 10%;
        margin-right: 10%; } }
  .client-project .client-project__caption {
    margin: 0 auto;
    font-style: italic; }

.client-project__logo {
  max-width: 80%; }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .client-project__logo {
      max-width: 60%; } }

.client-project__screenshot {
  max-width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .client-project__screenshot {
      max-width: 70%; } }

.client-project__intro {
  max-width: 700px;
  margin: 0 auto 15px; }
  @media (max-width: 40em) {
    .client-project__intro {
      margin: 20px;
      text-align: center; } }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .client-project__intro {
      text-align: left; } }

.client-project--padded {
  padding: 80px 30px; }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .client-project--padded {
      padding: 100px 60px; } }

.client-project__logo--spaced {
  padding: 80px 0; }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .client-project__logo--spaced {
      padding: 60px 0; } }

.client-project__logo--client-logo {
  max-width: 40%; }

.client-project--noi-neg {
  background-color: #00698b; }

.note {
  color: red;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px; }

.slider {
  width: 100%; }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .slider {
      width: 80%;
      max-width: 800px;
      padding: 10px 40px;
      margin: 15px auto; } }

.slider__item {
  margin: 20px; }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .slider__item {
      margin: 20px 40px; } }

.slider--drop-shadow {
  padding: 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); }

@media (min-width: 64.063em) and (max-width: 90em) {
  .slider--mobile-app {
    max-width: 40%; } }

.slider .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 1;
  background-color: transparent;
  border: 0;
  color: transparent; }
  .slider .slick-arrow:before, .slider .slick-arrow:after {
    color: rgba(0, 0, 0, 0.1);
    font-size: 60px;
    transition: all .4s ease; }
  .slider .slick-arrow:hover:before, .slider .slick-arrow:hover:after {
    color: rgba(0, 0, 0, 0.3);
    transition: all .4s ease; }

.slider .slick-prev {
  left: 0;
  outline: 0; }
  .slider .slick-prev:before {
    content: 'keyboard_arrow_left'; }

.slider .slick-next {
  right: 0;
  outline: 0; }
  .slider .slick-next:after {
    content: 'keyboard_arrow_right'; }

.base-page {
  margin: 0 auto;
  padding: 40px 20px; }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .base-page {
      padding: 0 65px; } }
  @media (max-width: 40em) {
    .base-page .h1 {
      text-align: center; } }
  .base-page .h2 {
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    margin: 10px 0; }
    @media (max-width: 40em) {
      .base-page .h2 {
        text-align: center; } }

.about-page {
  margin: 0 auto;
  padding: 40px 20px; }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .about-page {
      padding: 0 65px; } }

.about-section {
  max-width: 730px; }
  @media (max-width: 40em) {
    .about-section {
      text-align: center;
      padding: 30px 0; } }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .about-section {
      display: flex;
      padding: 20px 0; } }
  @media (max-width: 40em) {
    .about-section__divider {
      text-align: center; } }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .about-section__divider {
      margin-left: 195px; } }
  .about-section__divider:not(:first-of-type) {
    margin-top: 40px; }
  .about-section__picture {
    width: 160px;
    height: 160px; }
    @media (max-width: 40em) {
      .about-section__picture {
        margin-bottom: 30px;
        margin-top: 30px; } }
    @media (min-width: 64.063em) and (max-width: 90em) {
      .about-section__picture {
        margin-right: 35px; } }
  .about-section__content {
    flex: 1; }
    .about-section__content p {
      text-align: left; }
  .about-section__name {
    margin-bottom: 20px; }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .about-section__job:before {
      content: " | ";
      color: rgba(0, 0, 0, 0.8); } }
  .about-section__job {
    font-style: italic;
    color: rgba(0, 0, 0, 0.3); }
    @media (max-width: 40em) {
      .about-section__job {
        display: block;
        font-size: 1.3rem;
        margin-top: 10px; } }

.about-section__picture--disabled {
  opacity: 0; }
  @media (max-width: 40em) {
    .about-section__picture--disabled {
      display: none; } }

.contact-page .h1 {
  margin-bottom: 30px; }

.form * {
  outline: none; }

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form textarea {
  display: block;
  outline: none;
  width: 100%;
  max-width: 730px;
  padding: 11px 10px 10px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "DIN Next W02", sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7); }
  .form input[type="text"]::-webkit-input-placeholder,
  .form input[type="email"]::-webkit-input-placeholder,
  .form input[type="password"]::-webkit-input-placeholder,
  .form textarea::-webkit-input-placeholder {
    font-family: "DIN Next W02", sans-serif;
    font-weight: 100; }
  .form input[type="text"]:-moz-placeholder,
  .form input[type="email"]:-moz-placeholder,
  .form input[type="password"]:-moz-placeholder,
  .form textarea:-moz-placeholder {
    font-family: "DIN Next W02", sans-serif;
    font-weight: 100; }
  .form input[type="text"]::-moz-placeholder,
  .form input[type="email"]::-moz-placeholder,
  .form input[type="password"]::-moz-placeholder,
  .form textarea::-moz-placeholder {
    font-family: "DIN Next W02", sans-serif;
    font-weight: 100; }
  .form input[type="text"]:-ms-input-placeholder,
  .form input[type="email"]:-ms-input-placeholder,
  .form input[type="password"]:-ms-input-placeholder,
  .form textarea:-ms-input-placeholder {
    font-family: "DIN Next W02", sans-serif;
    font-weight: 100; }
  .form input[type="text"]:hover,
  .form input[type="email"]:hover,
  .form input[type="password"]:hover,
  .form textarea:hover {
    background-color: rgba(0, 0, 0, 0.02); }
  .form input[type="text"]:focus,
  .form input[type="email"]:focus,
  .form input[type="password"]:focus,
  .form textarea:focus {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.01); }

.form textarea {
  min-height: 180px; }

.form .button {
  padding: 12px 25px 10px; }

#mti_wfs_colophon {
  opacity: 0; }
