<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Amiri:400italic,400,700,700italic|Fira+Sans:300,300italic,500,500italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="wrapper">
        <aside class="sidebar">
            <a class="brand" href="index.html">
                <img class="brand__symbol brand--desktop" src="./images/logo-cmd.svg" alt="">
            </a>
            <nav class="navigation sidebar__item">
                <a class="navigation__item button button--naked" href="about.html">About</a>                
                <a class="navigation__item button button--naked" href="./">Portfolio</a>
                <a class="navigation__item button button--naked" href="#">Articles</a>
                <a class="navigation__item button button--naked" href="contact.html">Contact</a>
                <!-- <a class="navigation__item button button--hire-me" href="#">Hire Me</a> -->
            </nav>
            
            <div class="sidebar__about sidebar__item">
                <h2>About Me</h2>
                <p>I am a digital designer with more than 10 years of experience. Since 2010, I focused my efforts on the thriving field of Open Government, where I have the pleasure to work with many of brightest people in the field on the quest to reinvent government.</p>    
            </div>
            
        </aside>
        
        <main class="main-content">
            <header class="header">
                <span class="menu-trigger"><i class="material-icons">menu</i></span>
                <a class="brand" href="index.html">
                    <img class="brand__symbol brand--mobile" src="./images/logo-cmd.svg" alt="">
                    <h1 class="brand__name">Claudio Mendonça | <em>Design</em></h1>
                </a>
            </header>
            {% block main %}{% endblock %}
        </main>
    </div>
</body>
</html>