{% extends "_base.html" %}
{% block main %}

<article class="client-page">
	<section class="client-page__project">
		<img src="images/govlab-logo.png" alt="The GovLab">
		<p>Graphic and interaction design for The GovLab projects.</p>
	</section>

	<section class="client-page__project note">
		<h2>Network of Innovators Branding</h2>
	</section>

	<section class="client-page__project note">
		<h2>Network of Innovators Interface Design</h2>
	</section>

	<section class="client-page__project note">
		<h2>Open Data Impact Interface Design</h2>
	</section>	

	<section class="client-page__project">
		<h2>The Open Data 500 Project</h2>
		<a href="http://www.opendata500.com/" target="_blank">
			<img src="images/img/govlab/open-data-500-website-1.jpg" alt="Open Data 500">
		</a>
		<a href="http://www.opendata500.com/" target="_blank">
			<img src="images/img/govlab/open-data-500-website-2.jpg" alt="Open Data 500">
		</a>
		<a href="http://www.opendata500.com/" target="_blank">
			<img src="images/img/govlab/open-data-500-website-3.jpg" alt="Open Data 500">
		</a>
	</section>

	<section class="client-page__project">
		<h2>The GovLab Academy Website</h2>
		<h2 class="note">Update Gallery</h2>
		<a href="http://govlabacademy.org/" target="_blank">
			<img src="images/img/govlab/govlab-academy-1.jpg" alt="The GovLab Academy">
		</a>
		<a href="http://govlabacademy.org/" target="_blank">
			<img src="images/img/govlab/govlab-academy-2.jpg" alt="The GovLab Academy">
		</a>
		<a href="http://govlabacademy.org/" target="_blank">
			<img src="images/img/govlab/govlab-academy-3.jpg" alt="The GovLab Academy">
		</a>
	</section>

	<section class="client-page__project">
		<h2>Infographics designed for GovLab</h2>
		<a href="images/img/govlab/infographic-1.pdf" target="_blank">
			<img src="images/img/govlab/infographic-1.jpg" alt="Infographics">
		</a>
	</section>

	<section class="client-page__project">
		<a href="images/img/govlab/infographic-2.pdf" target="_blank">
			<img src="images/img/govlab/infographic-2.jpg" alt="Infographics">
		</a>
	</section>

</article>

{% endblock %}

