{% extends "_base.html" %}
{% block main %}

<article class="client-page">
	<section class="client-project">
		<img class="client-project__logo client-project__logo--client-logo" src="images/idrc-logo.jpg" alt="IDRC">
	</section>
	<div class="client-project__intro">
		<p>I work in partnership with IDRC creating reports and inforgraphics for their initiatives.</p>
	</div>

	<section class="client-project">
		<h2>Open Data for Development Annual Report - 2015</h2>
		<div class="slider">
			<img class="slider__item client-project__screenshot" src="images/idrc/od4d-annual-report-01.jpg" alt="OD4D Annual Report - 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/od4d-annual-report-02.jpg" alt="OD4D Annual Report - 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/od4d-annual-report-03.jpg" alt="OD4D Annual Report - 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/od4d-annual-report-04.jpg" alt="OD4D Annual Report - 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/od4d-annual-report-05.jpg" alt="OD4D Annual Report - 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/od4d-annual-report-06.jpg" alt="OD4D Annual Report - 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/od4d-annual-report-07.jpg" alt="OD4D Annual Report - 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/od4d-annual-report-08.jpg" alt="OD4D Annual Report - 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/od4d-annual-report-09.jpg" alt="OD4D Annual Report - 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/od4d-annual-report-10.jpg" alt="OD4D Annual Report - 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/od4d-annual-report-11.jpg" alt="OD4D Annual Report - 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/od4d-annual-report-12.jpg" alt="OD4D Annual Report - 2015">
		</div>
		<p><a href="images/idrc/od4d-annual_report-web-high-quality.pdf" target="_blank">View the full report (62MB)</a></p>
	</section>

	<section class="client-project">
		<h2>Open Data Conference Report</h2>
		<div class="slider">
			<img class="slider__item client-project__screenshot" src="images/idrc/opendatacon-report-1.jpg" alt="Open Data Conference – Ottawa 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/opendatacon-report-2.jpg" alt="Open Data Conference – Ottawa 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/opendatacon-report-3.jpg" alt="Open Data Conference – Ottawa 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/opendatacon-report-4.jpg" alt="Open Data Conference – Ottawa 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/opendatacon-report-5.jpg" alt="Open Data Conference – Ottawa 2015">
		</div>
		<p><a href="images/idrc/opendatacon-report-en-web.pdf" target="_blank">View the full report</a></p>
	</section>
</article>

{% endblock %}

