{% extends "_base.html" %}
{% block main %}

<article class="client-page">
	<section class="client-project">
		<img class="client-project__logo client-project__logo--client-logo" src="images/idrc-logo.jpg" alt="IDRC">
	</section>
	<div class="client-project__intro">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ex itaque, laboriosam earum nulla omnis molestias dolorum ab, alias doloremque pariatur dolores, aliquam quia amet repellendus dolor magnam maiores qui?</p>
	</div>

	<section class="client-project">
		<h2>Open Data Conference Report</h2>
		<div class="slider">
			<img class="slider__item client-project__screenshot" src="images/idrc/opendatacon-report-1.jpg" alt="Open Data Conference – Ottawa 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/opendatacon-report-2.jpg" alt="Open Data Conference – Ottawa 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/opendatacon-report-3.jpg" alt="Open Data Conference – Ottawa 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/opendatacon-report-4.jpg" alt="Open Data Conference – Ottawa 2015">
			<img class="slider__item client-project__screenshot" src="images/idrc/opendatacon-report-5.jpg" alt="Open Data Conference – Ottawa 2015">
		</div>
		<p><a href="images/idrc/opendatacon-report-en-web.pdf" target="_blank">View the full report</a></p>
	</section>
</article>

{% endblock %}

