{% extends "_base.html" %}
{% block main %}

<article class="client-page">
	<h2>More Projects</h2>

	<section class="client-project">
		<h2>Sauserwind</h2>
		<a href="http://www.sauserwind.com" target="_blank">
			<img class="client-project__screenshot" src="images/old-projects/sauserwind.jpg" alt="Christoph Sauser">
		</a>
		<p>Website design and development for renowned mountain biker Christoph Sauser.</p>
	</section>

	<section class="client-project">
		<h2>JeffRoss</h2>
		<a href="http://www.roastmastergeneral.com" target="_blank">
			<img class="client-project__screenshot" src="images/old-projects/jeff-ross.jpg" alt="Jeff Ross - Roastmaster General">
		</a>
		<p>Website design and development for famous Jeff Ross.</p>
	</section>

	<section class="client-project">
		<h2>University of Pennsylvania</h2>
		<div class="slider slider--drop-shadow">
			<img class="slider__item " src="images/old-projects/penn-booklet-1.jpg" alt="">
			<img class="slider__item " src="images/old-projects/penn-booklet-2.jpg" alt="">
			<img class="slider__item " src="images/old-projects/penn-booklet-3.jpg" alt="">
			<img class="slider__item " src="images/old-projects/penn-booklet-4.jpg" alt="">
		</div>
	</section>

	<section class="client-project">
		<h2>Brazil Government - 2009</h2>
		<div class="slider slider--drop-shadow">
			<img class="slider__item" src="images/old-projects/jornal-mds-2.jpg" alt="">
			<img class="slider__item" src="images/old-projects/jornal-mds-3.jpg" alt="">
		</div>
		<p>Newspaper design for the Social Development Department of the Government of Brazil - 2009</p>
	</section>

	<section class="client-project">
		<img class="client-project__logo" src="images/old-projects/rede-mobilizacao-social-logo.jpg" alt="">
	</section>
	
	<section class="client-project">
		<div class="slider">
			<img class="slider__item client-project__logo" src="images/old-projects/mosaico-records-logo-2.jpg" alt="">
			<img class="slider__item client-project__logo" src="images/old-projects/mosaico-records-logo-3.jpg" alt="">
			<img class="slider__item client-project__logo" src="images/old-projects/mosaico-records-logo-4.jpg" alt="">
		</div>
	</section>

	<section class="client-project">
		<img class="client-project__logo" src="images/old-projects/patchbay-logo.jpg" alt="">
	</section>

	<section class="client-project">
		<img class="client-project__logo" src="images/old-projects/diamante-azul-logo.jpg" alt="">
	</section>
	
	<section class="client-project">
		<img class="client-project__logo" src="images/old-projects/farofa-logo.jpg" alt="">
	</section>

	<section class="client-project">
		<img class="client-project__logo" src="images/old-projects/granminas-logo.gif" alt="">
	</section>

	<section class="client-project">
		<img class="client-project__logo" src="images/old-projects/air-magazine-logo.jpg" alt="">
	</section>


</article>

{% endblock %}