{% extends "_base.html" %}
{% block main %}

<article class="client-page">
	<h2>Open North</h2>
	<div class="client-project__intro">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime provident mollitia esse ea fuga, dolorem error assumenda tempora eum nostrum sit obcaecati, expedita consectetur id sapiente facilis repudiandae illo nulla?</p>
	</div>

	<section class="client-project">
		<h2>Open North Website</h2>
		<div class="slider">
			<img class="slider__item client-project__screenshot" src="images/open-north/open-north-website-1.jpg" alt="Open North Website">
			<img class="slider__item client-project__screenshot" src="images/open-north/open-north-website-2.jpg" alt="Open North Website">
		</div>
	</section>

	<section class="client-project">
		<h2>Open North Reports</h2>
		<div class="slider">
			<img class="slider__item client-project__screenshot" src="images/open-north/opennorth-opendata-report-1.jpg" alt="Open North Report">
			<img class="slider__item client-project__screenshot" src="images/open-north/opennorth-opendata-report-2.jpg" alt="Open North Report">
			<img class="slider__item client-project__screenshot" src="images/open-north/opennorth-opendata-report-3.jpg" alt="Open North Report">
		</div>
		<p><a href="images/open-north/opennorth-opendata-report-2.pdf" target="_blank">Check the full report</a></p>
	</section>
</article>

{% endblock %}

