{% extends "_base.html" %}
{% block main %}

<article class="client-page">
	<h2>Open Contracting</h2>
	<div class="client-project__intro">
		<p>I worked with the Open Contracting Partnership team creating and maintaining the brand and all of it's graphic material.</p>
		<p>The overarching goal of this initiative is to increase access of information on public contracting, from pre-award activities all the way through implementation and monitoring. In other words, it would make it easier for the population to know how public money is being spent by governments.</p>
	</div>
	<section class="client-project">
		<img class="client-project__logo" src="images/worldbank/open-contracting-logo.jpg" alt="Open Contracting Partnership Logo">
		<p>Logo Design for the Open Contracting Initiative</p>
	</section>

	<section class="client-project">
		<h2>Open Contracting Presentation Sample</h2>
		<div class="slider">
			<img class="slider__item client-project__screenshot" src="images/open-contracting/ocp-deck-1.jpg" alt="Open Contracting">
			<img class="slider__item client-project__screenshot" src="images/open-contracting/ocp-deck-2.jpg" alt="Open Contracting">
			<img class="slider__item client-project__screenshot" src="images/open-contracting/ocp-deck-3.jpg" alt="Open Contracting">
			<img class="slider__item client-project__screenshot" src="images/open-contracting/ocp-deck-4.jpg" alt="Open Contracting">
			<img class="slider__item client-project__screenshot" src="images/open-contracting/ocp-deck-5.jpg" alt="Open Contracting">
			<img class="slider__item client-project__screenshot" src="images/open-contracting/ocp-deck-6.jpg" alt="Open Contracting">
			<img class="slider__item client-project__screenshot" src="images/open-contracting/ocp-deck-7.jpg" alt="Open Contracting">
		</div>
		<p>Slide sample from presentations designed for the Open Contracting Initiative</p>
	</section>

	<section class="client-project">
		<h2>Open Contracting Graphics</h2>
		<div class="slider">
			<img class="slider__item client-project__screenshot" src="images/open-contracting/ocp-graph-1.jpg" alt="Open Contracting">
			<img class="slider__item client-project__screenshot" src="images/open-contracting/ocp-graph-2.jpg" alt="Open Contracting">
			<img class="slider__item client-project__screenshot" src="images/open-contracting/ocp-graph-3.jpg" alt="Open Contracting">
			<img class="slider__item client-project__screenshot" src="images/open-contracting/ocp-graph-4.jpg" alt="Open Contracting">
		</div>
	</section>

</article>

{% endblock %}

