{% extends "_base.html" %}
{% block main %}

<article class="client-page">
	<section class="client-page__project">
		<h2>Open Contracting</h2>
		<img src="images/img/worldbank/open-contracting-logo.jpg" alt="Open Contracting Partnership Logo">
		<p>I work with the Open Contracting Partnership team creating and maintaining the brand and all of it's graphic material.</p>
		<p>The overarching goal of this initiative is to increase access of information on public contracting, from pre-award activities all the way through implementation and monitoring. In other words, it would make it easier for the population to know how public money is being spent by governments.</p>
	</section>
		
	<section class="client-page__project">
		<a href="http://www.open-contracting.org/" target="_blank">
			<img src="images/img/worldbank/open-contracting-website.jpg" alt="">
		</a>
	</section>

	<section class="client-page__project note">
		<h2>OC presentations</h2>
	</section>
</article>

{% endblock %}

