{% extends "_base.html" %}
{% block main %}

<article class="client-page">
	<section class="client-project">
		<img class="client-project__logo client-project__logo--client-logo" src="images/opencorporates-logo.png" alt="Open North">
	</section>

	<section class="client-project">
		<h2>Open Gazettes Website</h2>
		<div class="slider">
			<img class="slider__item client-project__screenshot" src="images/open-corporates/open-gazettes-01.jpg" alt="Open Gazettes Website">
			<img class="slider__item client-project__screenshot" src="images/open-corporates/open-gazettes-02.jpg" alt="Open Gazettes Website">
			<img class="slider__item client-project__screenshot" src="images/open-corporates/open-gazettes-03.jpg" alt="Open Gazettes Website">
			<img class="slider__item client-project__screenshot" src="images/open-corporates/open-gazettes-04.jpg" alt="Open Gazettes Website">
			
		</div>
	</section>
</article>

{% endblock %}

