{% extends "_base.html" %}
{% block main %}

<article class="client-page">
	<h2>Old Projects</h2>
	<p>This is a selection of past work.</p>	

	<section class="client-page__project">
		<p>UI for WebApp - 2011</p>
		<img src="images/img/exofi/web-app-ui-01.jpg" alt="ExoFi UI">
		<img src="images/img/exofi/web-app-ui-02.jpg" alt="ExoFi UI">
		<img src="images/img/exofi/web-app-ui-03.jpg" alt="ExoFi UI">
		<img src="images/img/exofi/web-app-ui-04.jpg" alt="ExoFi UI">
		<img src="images/img/exofi/web-app-ui-05.jpg" alt="ExoFi UI">
		<img src="images/img/exofi/web-app-ui-06.jpg" alt="ExoFi UI">
		<img src="images/img/exofi/web-app-ui-07.jpg" alt="ExoFi UI">
		<img src="images/img/exofi/web-app-ui-08.jpg" alt="ExoFi UI">
	</section>
	
	<section class="client-page__project">
		<p>Newspaper design for the Social Development Department of the Government of Brazil - 2009</p>
		<img src="images/img/old-projects/jornal-mds-1.jpg" alt="">
		<img src="images/img/old-projects/jornal-mds-2.jpg" alt="">
		<img src="images/img/old-projects/jornal-mds-3.jpg" alt="">
	</section>

	<section class="client-page__project">
		<img src="images/img/old-projects/j4-logo-1.jpg" alt="">
		<img src="images/img/old-projects/j4-logo-2.jpg" alt="">
		<img src="images/img/old-projects/j4-logo-3.jpg" alt="">
		<img src="images/img/old-projects/jot4-stationary.jpg" alt="">
	</section>

	<section class="client-page__project">
		<img src="images/img/old-projects/abi-ackel-logo-1.jpg" alt="">
		<img src="images/img/old-projects/abi-ackel-logo-2.jpg" alt="">
	</section>

	<section class="client-page__project">
		<img class="b-logo m-padded" src="images/img/old-projects/air-magazine-logo.jpg" alt="">
	</section>

	<section class="client-page__project">
		<img class="b-logo" src="images/img/old-projects/ciff-logo.jpg" alt="">
	</section>

	<section class="client-page__project">
		<img class="b-logo" src="images/img/old-projects/diamante-azul-logo.jpg" alt="">
	</section>
	
	<section class="client-page__project">
		<img class="m-padded b-logo" src="images/img/old-projects/farofa-logo.jpg" alt="">
	</section>

	<section class="client-page__project">
		<img src="images/img/old-projects/funnynights-logo-1.jpg" alt="">
		<img src="images/img/old-projects/funnynights-logo-2.jpg" alt="">
	</section>

	<section class="client-page__project">
		<img class="m-padded b-logo" src="images/img/old-projects/granminas-logo.gif" alt="">
	</section>
	
	<section class="client-page__project">
		<img src="images/img/old-projects/mosaico-records-logo-2.jpg" alt="">
		<img src="images/img/old-projects/mosaico-records-logo-3.jpg" alt="">
		<img src="images/img/old-projects/mosaico-records-logo-4.jpg" alt="">
	</section>

	<section class="client-page__project">
		<img class="b-logo" src="images/img/old-projects/patchbay-logo.jpg" alt="">
	</section>
	
	<section class="client-page__project">
		<img class="b-logo" src="images/img/old-projects/rede-mobilizacao-social-logo.jpg" alt="">
	</section>

	<section class="client-page__project">
		<img class="b-logo" src="images/img/old-projects/sarsur-seder-logo.jpg" alt="">
	</section>

</article>

{% endblock %}
