{% extends "_base.html" %}
{% block main %}

<article class="client-page">
	<section class="client-project">
		<h2>Data Analytics for Procurement</h2>
		<img class="client-project__logo client-project__logo--spaced" src="images/worldbank/data-analytics-for-procurement-logo.png" alt="Data Analytics for Procurement Logo">
		<p>Logo and branding for the Data Analytics for Procurement</p>
	</section>

	<section class="client-project">
		<h2>Open Government Impact</h2>
		<a href="http://www.opengovimpact.org" target="_blank">
			<img class="client-project__screenshot" src="images/worldbank/open-gov-impact.png" alt="Open Government Impact Website">
		</a>
		<p>Design and development for the open Government Impact Website</p>
	</section>

	<section class="client-project">
		<h2>Digital Engagement</h2>
		<img class="client-project__logo client-project__logo--spaced" src="images/worldbank/digital-engagement-logo.png" alt="Digital Engagement Logo">
		<p>Logo and branding for the Digital Engagement Initiative</p>
	</section>

	<section class="client-project">
		<h2>Procurement Stories</h2>
		<a href="http://www.transformingprocurement.org" target="_blank">
			<img class="client-project__screenshot" src="images/worldbank/procurement-stories.png" alt="Procurement Stories Website">
		</a>
		<p>Design and development for the Transforming Procurement Website</p>
	</section>

	<section class="client-project">
		<h2>Infographic</h2>
		<a href="images/worldbank/infographic-mobile-survey.pdf" target="_blank">
			<img class="client-project__screenshot" src="images/worldbank/infographic-preview.jpg" alt="Mobile Survey Infographic">
		</a>
	</section>

	<section class="client-project" id="gei">
		<h2>GEI Website</h2>
		<p>Governance for Extractives Industries</p>
		<a href="http://openinggovernment.com/extractives/" target="_blank">
			<img class="client-project__screenshot" src="images/worldbank/gei-website.jpg" alt="Governance for Extractives Industries">
		</a>
	</section>

	<section class="client-project" id="open-government">
		<h2>Open Government</h2>
		<img class="client-project__logo" src="images/worldbank/open-government-logo.png" alt="Open Government Logo">
		<p>Logo and website design for the Open Government Initiative</p>
		<a href="http://openinggovernment.com/" target="_blank">
			<img class="client-project__screenshot" src="images/worldbank/open-gov-now-website.jpg" alt="">
		</a>
	</section>

	<section class="client-project" id="ict4gov">
		<h2>ICT4Gov</h2>
		<p>Logo and Website for the ICT4Gov program at the World Bank - 2011</p>
		<p class="client-project__caption">This is a retired project.</p>
		
		<img class="client-project__logo" src="images/worldbank/ict4gov-logo.jpg" alt="ICT4Gov Logo">
		<p>Logo Created for the ICT4Gov Project</p>
		
		<img class="client-project__screenshot" src="images/worldbank/ict4gov-website.jpg" alt="ICT4Gov Website">
		<p>Interface design and development</p>
	</section>

</article>

{% endblock %}

