{% extends "_base.html" %}
{% block main %}

<article class="client-page">
	<section class="client-page__project note">
		<h2>Data Analytics for Procurement</h2>
	</section>

	<section class="client-page__project note">
		<h2>Procurement Stories</h2>
	</section>

	<section class="client-page__project note">
		<h2>Inforgraphic</h2>
	</section>

	<section class="client-page__project">
		<h2>Open Government</h2>
		<img src="images/img/worldbank/open-government-logo.png" alt="Open Government Logo">
		<p>Logo and website design for the Open Government Initiative.</p>
		<a href="http://openinggovernment.com/" target="_blank">
			<img src="images/img/worldbank/open-gov-now-website.jpg" alt="">
		</a>
	</section>

	<section class="client-page__project">
		<h2>GEI Website</h2>
		<p>Governance for Extractives Industries</p>
		<a href="http://openinggovernment.com/extractives/" target="_blank">
			<img class="b-screenshot" src="images/img/worldbank/gei-website.jpg" alt="Governance for Extractives Industries">
		</a>
	</section>

	<section class="client-page__project" id="ict4gov">
		<h2>ICT4Gov</h2>
		<p>Logo and Website for the ICT4Gov program at the World Bank - 2011</p>
		<p class="e-caption">This is a retired project.</p>
		
		<img src="images/img/worldbank/ict4gov-logo.jpg" alt="ICT4Gov Logo">
		<caption>Logo Created for the ICT4Gov Project</caption>
		
		<img src="images/img/worldbank/ict4gov-website.jpg" alt="ICT4Gov Website">
		<caption>Interface design project</caption>
	</section>

</article>

{% endblock %}

