.about-page {
  margin: 0 auto;
  padding: 40px 20px;
  @include breakpoint($large) { padding: 0 65px; }
}

.about-section {
  max-width: 730px;
  @include breakpoint($small-only) { 
    text-align: center; 
    padding: 30px 0;
  }
  
  @include breakpoint($large) { 
    display: flex; 
    padding: 20px 0;
  }

  &__divider {
    @include breakpoint($small-only) { text-align: center; }
    @include breakpoint($large) { margin-left: 195px; }
    &:not(:first-of-type) { margin-top: 40px; }
  }

  &__picture {
    @extend .u-circle;

    @include breakpoint($small-only) { 
      margin-bottom: 30px;
      margin-top: 30px;
    }
    
    @include breakpoint($large) {
      margin-right: 35px;
    }
    
    width: 160px;
    height: 160px;
  }

  &__content {
    flex: 1;
    p { text-align: left; }
  }

  &__name {
    margin-bottom: 20px;
  }

  &__job:before { 
    @include breakpoint($large) { 
      content: " | "; 
      color: rgba($black, .8);
      font-style: normal;
    }
  }

  &__job {
    font-style: italic;
    color: rgba($black, .3);

    @include breakpoint($small-only) { 
      display: block;
      font-size: 1.3rem;
      margin-top: 10px;
    }
  }

}

.about-section__picture--disabled {
  opacity: 0;
  @include breakpoint($small-only) { display: none; }
}
