.brand {
    display: block;
    text-align: center;
}

.brand__symbol {
    opacity: .5;
    max-width: 60%;
    @include breakpoint($small-only) { padding: 20px; }
    @include breakpoint($medium-up) { max-width: 100%; }
}

.brand__name {
    text-align: center;
    img { max-width: 60%; }

    @include breakpoint($medium) { 
        text-align: left;
        padding-left: 10px;
    }

    @include breakpoint($large) { 
        text-align: left;
        padding-left: 25px;
        img { max-width: 260px; }
    }
}

.brand--mobile {
    max-width: 52%;
    display: block;
    margin: 0 auto;
    @include breakpoint($medium-up) { display: none; }
}

.menu-trigger {
    @include breakpoint($medium-up) { display: none; }
}