.button {
    padding: 10px 15px;
    border: 1px solid rgba($black, .1);
    color: rgba($black, .6);
    font-size: 1rem;
    @include transition;
}

.button:hover {
    background-color: rgba($black, .03);
    color: $green;
    border-color: rgba($black, .1);
    @include transition;
}

.button--naked {
    border-color: transparent;
}
