.client-page {
    h2 {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 1.3rem;
        line-height: 1.5;
        @include breakpoint($large) { font-size: 2rem; }
    }
}

.client-project {
    text-align: center;
    margin: 100px 0;
    
    p {    
        margin: 15px auto 15px;
        max-width: 700px;

        @include breakpoint($small-only) {
            margin-left: 10%;
            margin-right: 10%;
        }
    }

    &__caption {
        margin: 0 auto;
        font-style: italic;
    }

    img {
    }

    &__logo {
        max-width: 80%;
        @include breakpoint($large) { max-width: 60%; }
    }

    &__screenshot {
        max-width: 100%;
        @include breakpoint($large) { max-width: 70%; }
        box-shadow: 2px 2px 10px rgba($black, .1);
    }

    &__intro {
        max-width: 700px;
        margin: 0 auto 15px;
        
        @include breakpoint($small-only) { 
            margin: 20px; 
            
            > p:only-child { text-align: center; }

        }
        
        @include breakpoint($large) { text-align: left; }

    }

    &--padded {
        padding: 80px 30px;
        @include breakpoint($large) { padding: 100px 60px; }
    }

    &__logo--spaced {
        padding: 80px 0;
        @include breakpoint($large) { 
            padding: 60px 0; 
        }   
    }

    &__logo--client-logo {
        @include breakpoint($large) { 
            max-width: 40%; 
            padding-bottom: 40px;
        }
    }

    &--noi-neg { background-color: #00698b; }

}

.video-container {
    max-width: 700px;
    margin: 0 auto;
    
    &__inner {
        width: 100%;
        height: 0;
        padding-bottom: 56.35%;
        background-color: red;
        position: relative;

        > * {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }
}



.note {
    color: red;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgba($black, .1);
    margin: 10px;
}

