.client-page {
    h2 {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 1.3rem;
        @include breakpoint($large) { font-size: 2rem; }
    }
}

.client-project {
    text-align: center;
    margin: 100px 0;
    
    p {    
        margin: 15px auto 15px;
        max-width: 700px;

        @include breakpoint($small-only) {
            margin-left: 10%;
            margin-right: 10%;
        }
    }

    .client-project__caption {
        margin: 0 auto;
        font-style: italic;
    }

    img {
    }
}

.client-project__logo {
    max-width: 80%;
    @include breakpoint($large) { max-width: 60%; }
}

.client-project__screenshot {
    max-width: 100%;
    @include breakpoint($large) { max-width: 70%; }
    box-shadow: 2px 2px 10px rgba($black, .1);
}

.client-project__intro {
    max-width: 700px;
    margin: 0 auto 15px;
    @include breakpoint($small-only) { 
        margin: 20px; 
        text-align: center;
    }
    @include breakpoint($large) { text-align: left; }


}

.client-project--padded {
    padding: 80px 30px;
    @include breakpoint($large) { padding: 100px 60px; }
}

.client-project__logo--spaced {
    padding: 80px 0;
    @include breakpoint($large) { 
        padding: 60px 0; 
    }   
}

.client-project__logo--client-logo {
    max-width: 40%;
}

.client-project--noi-neg { background-color: #00698b; }

.note {
    color: red;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgba($black, .1);
    margin: 10px;
}

