.sidebar {
    padding: 35px;
}

.sidebar {
    position: static;
    display: block;
    width: 250px;
    background-color: rgba($black, .03);

    @include breakpoint($small-only) {
        position: fixed;
        left: -1000%;
        width: 100vw;
        height: 100vh;
        // padding-top: 80px;
        background-color: rgba($white, .98);    
        @include transition;
    }
}

.sidebar__item { margin: 50px 0; }

.sidebar__about {
    // text-align: right;
    
    h2 {
        font-weight: 400;
        color: $green;
        margin-bottom: 10px;

        font-size: 14px;
        text-transform: uppercase;
    }

    p {
        font-weight: 300;
        color: rgba($black, .4);
        font-size: 14px;
    }
}

.sidebar.js-active {
    left: 0;
    z-index: 1;

    @include transition;
}

.menu-trigger { 
  cursor: pointer; 
  padding: 10px 12px;
  background-color: rgba($white, .8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  color: rgba($black, .6);

  &:after {
    @extend .u-material-icons;
    content: 'menu';
  }
}

.menu-trigger.js-active:after {
    content: 'close';
}
