// Breakpoints
$small-only: (max-width 40em);
$medium: 40.063em 64em;
$medium-up: 40.063em;
$large: 64.063em;

// Colors
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$green: rgba(80,90,40,1);

// $transparent: rgba(0,0,0,0);
// $gray-03: rgba(0,0,0,0.02);
// $gray-05: rgba(0,0,0,0.05);
// $gray-10: rgba(0,0,0,0.1);
// $gray-20: rgba(0,0,0,0.2);
// $gray-30: rgba(0,0,0,0.3);
// $gray-60: rgba(0,0,0,0.6);



// $sans-serif: 'Roboto', sans-serif;
// $sans-serif: 'Signika', sans-serif;
$sans-serif: 'Fira Sans', sans-serif;
// $sans-serif: 'DIN Next W02', sans-serif;
$serif: 'Amiri', serif;



@import 'breakpoint';
@import 'reset';



// Components
@import 'utils';
@import 'base';
@import 'typography';
@import 'navigation';
@import 'brand';
@import 'button';
@import 'sidebar';
@import 'gallery';
@import 'client-page';
@import 'slider';
@import 'base-page';
@import 'about';
@import 'articles-page';
@import 'contact';



// hides the fonts.com banner
#mti_wfs_colophon { opacity: 0; }




