// Breakpoints
$mobile: max-width 700px;
$tablet: max-width 1020px;
$desktop: 1021px;

// Colors
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$green: rgba(80,90,40,1);

// $transparent: rgba(0,0,0,0);
// $gray-03: rgba(0,0,0,0.02);
// $gray-05: rgba(0,0,0,0.05);
// $gray-10: rgba(0,0,0,0.1);
// $gray-20: rgba(0,0,0,0.2);
// $gray-30: rgba(0,0,0,0.3);
// $gray-60: rgba(0,0,0,0.6);



$sans-serif: 'Fira Sans', sans-serif;
$sans-serif: 'DIN Next W02', sans-serif;
$serif: 'Amiri', serif;



@import 'breakpoint';
@import 'reset';



// Components
@import 'utils';
@import 'base';
@import 'typography';
@import 'navigation';
@import 'brand';
@import 'button';
@import 'sidebar';
@import 'gallery';
@import 'client-page';
@import 'slider';
@import 'about';



// hides the fonts.com banner
#mti_wfs_colophon { opacity: 0; }




